<a href="https://colab.research.google.com/github/bedule/Desain-dan-Analisis-Algoritma/blob/main/DAA_TUGAS_M2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np

In [4]:
print(np.__version__)

1.21.6

In [5]:
print("Hello world!")
print("Nama saya (Abdul Haris)")
print("NIM saya (2021071001)")

Hello world!
Nama saya (Abdul Haris)
NIM saya (2021071001)

if 5 > 2:

In [6]:
print ("lima lebih besar dari dua")

lima lebih besar dari dua

In [7]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x = 4
x = "Sally"
print(x)

Sally

NOTASI BIG O

In [9]:
def getFirst(myList):
  return myList[0]

In [10]:
getFirst([1,2,3,4])

1

In [11]:
def getSecond(myList):
  return myList[1]

In [12]:
getSecond([1,2,3,4])

2

In [13]:
def getLast(myList):
  return myList[-1]

In [14]:
getLast([1,2,3,4])

4

In [15]:
def getSum(myList):
  sum = 0
  for item in myList:
    sum = sum+item
  return sum
getSum([1,2,3,4])

10

In [16]:
def getKali(myList):
  sum = 1
  for item in myList:
    sum = sum*item
  return sum
getKali([1,2,3,4])

24

In [17]:
def getBagi(myList):
  sum = 1
  for item in myList:
    sum = sum/item
  return sum
getBagi([1,2,3,4])

0.041666666666666664

In [18]:
def getSum(myList):
  sum = 0
  for row in myList:
    for item in row:
      sum += item
  return sum
getSum([[1,2,5],[3,4,7]])

22

In [19]:
def getBagi(myList):
  sum = 81
  for row in myList:
    for item in row:
      sum /= item
  return sum
getBagi([[3],[9]])

3.0

In [20]:
def getKurang(myList):
  sum = 65
  for row in myList:
    for item in row:
      sum -= item
  return sum
getKurang([[25,10],[5,2]])

23