<a href="https://colab.research.google.com/github/bedule/Desain-dan-Analisis-Algoritma/blob/main/M13_Breadth_First_Search_dan_Depth_First_Search_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Implementasi Algoritma Breadth-first Search**

**FIRST SEARCH ITU MELAKUKAN LEVEL KE SAMPING**

In [1]:
def bfs(graph, start):
  visited = []
  queue = [start]

  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graph[node]
      for neighbour in neighbours :
        queue.append(neighbour)
  return visited

In [2]:
graph={'Amin' : {'Wasim', 'Nick', 'Mike'},
       'Wasim' : {'Imran', 'Amin'},
       'Imran' : {'Wasim','Faras'},
       'Faras' : {'Imran'},
       'Mike' : {'Amin'},
       'Nick' : {'Amin'}}

In [3]:
#O Amin------------
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

bfs(graph, 'Amin')

['Amin', 'Wasim', 'Nick', 'Mike', 'Imran', 'Faras']

**Yang diatas level 1 = (Amin), level 2 = (Wasim, Nick, Mike), level 3 = (Imran), level 4 (Faras)**

In [4]:
#O Wasim-------
#|            |
#O Imran      O Amin-----
#|            |         |
#O Faras      O Nick    O Mike

bfs(graph,'Wasim')

['Wasim', 'Imran', 'Amin', 'Faras', 'Nick', 'Mike']

**Yang diatas level 1 = (Wasim), level 2 = (Imran, Amin), level 3 = (Faras, Nick, Mike)**

In [5]:
#O Faras
#|
#O Imran
#|
#O Wasim  O Nick  O Mike
#|        |       |
#O Amin------------

bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Nick', 'Mike']

**Yang diatas faras hanya mengenal imron, imron mengenal wasim --> amin --> nick --> mike**

**LATIHAN 1**

In [6]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

In [7]:
bfs(graph, 'Rektor')

['Rektor',
 'Warek2',
 'Warek1',
 'Kaprodi2',
 'Kaprodi1',
 'Kaprodi3',
 'Dosen E',
 'Dosen D',
 'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen F',
 'Dosen G']

In [8]:
bfs(graph, 'Dosen B')

['Dosen B',
 'Kaprodi1',
 'Warek2',
 'Dosen A',
 'Dosen C',
 'Rektor',
 'Kaprodi2',
 'Kaprodi3',
 'Warek1',
 'Dosen E',
 'Dosen D',
 'Dosen F',
 'Dosen G']

In [9]:
bfs(graph, 'Kaprodi2')

['Kaprodi2',
 'Warek2',
 'Dosen E',
 'Dosen D',
 'Rektor',
 'Kaprodi1',
 'Kaprodi3',
 'Warek1',
 'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen F',
 'Dosen G']

**IMPLEMENTASI ALGORITMA DEPTH FIRST SEARCH**

**(DEPT ITU MELAKUKAN LEVEL KEBAWAH)**

In [10]:
def dfs(graph, start, visited=None):
  if visited is None:
    visited = set()
  visited.add(start)
  print(start)
  for next in graph[start] - visited:
    dfs(graph, next, visited)
  return visited

In [11]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
       'Wasim' : {'Imran', 'Amin'},
       'Imran' : {'Wasim','Faras'},
       'Faras' : {'Imran'},
       'Mike' : {'Amin'},
       'Nick' : {'Amin'}}

In [12]:
#O Amin -----------
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

dfs(graph, 'Amin')

Amin
Wasim
Imran
Faras
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [13]:
#O Wasim-------
#|            |
#O Imran      O Amin-----
#|            |         |
#O Faras      O Nick    O Mike

dfs(graph,'Wasim')

Wasim
Imran
Faras
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [14]:
#O Faras
#|
#O Imran
#|
#O Wasim  O Nick  O Mike
#|        |       |
#O Amin------------

dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [15]:
#O Nick------
#|          |
#O Amin     O Mike
#|
#O Wasim    
#|
#O Imran
#|
#O Faras

dfs(graph, 'Nick')

Nick
Amin
Wasim
Imran
Faras
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

**LATIHAN 2**

In [16]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

dfs(graph, 'Rektor')

Rektor
Warek2
Kaprodi3
Dosen F
Dosen G
Kaprodi2
Dosen E
Dosen D
Kaprodi1
Dosen B
Dosen A
Dosen C
Warek1

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi1',
 'Kaprodi2',
 'Kaprodi3',
 'Rektor',
 'Warek1',
 'Warek2'}